/* -------------------------------------------------------------------------- */
/*                                  home page                                 */
/* -------------------------------------------------------------------------- */

.homepage {
  section {
    position: relative;
    z-index: 2;
    background: var(--white-cl);
  }

  // ===== firstview =====
  .fv {
    &_container {
      position: relative;
      width: 100%;
      height: 100vh;
      background-color: var(--ant-cl);
      z-index: 2;
    }

    &_swiper {
      width: 100%;
      height: 100%;

      .swiper-pagination {
        position: absolute;
        top: 45%;
        right: 35px;
        bottom: auto;
        left: auto;
        display: flex;
        gap: 15px;
        width: auto;

        .swiper-pagination-bullet {
          width: auto;
          height: auto;
          background: none;
          margin: 0;
          opacity: 0.3;

          font-size: 1.9rem;
          color: var(--white-cl);
          transition: opacity 0.3s linear;

          &.swiper-pagination-bullet-active {
            opacity: 1;
          }
        }
      }

      .swiper-slide {
        a {
          width: 100%;
          height: 100%;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    &_content {
      position: absolute;
      top: 45%;
      display: grid;
      grid-template-columns: 18% 1fr;
      align-items: baseline;
      width: 90%;
      gap: 13px;
      padding: 0 var(--padd);
      color: var(--white-cl);

      p {
        font-size: 1.9rem;
        line-height: 1.32;
      }

      h2 {
        font-family: var(--tn-fonts);
        font-size: 2.6rem;
        font-weight: 400;
        line-height: 1.15;
        letter-spacing: -0.5px;
      }
    }

    @include maxW {
      &_container {
        height: var(--app-height);
      }

      &_swiper {
        .swiper-pagination {
          top: auto;
          right: auto;
          bottom: 235px;
          left: 18px;
          gap: 12px;

          .swiper-pagination-bullet {
            font-size: 1.6rem;
          }
        }
      }

      &_content {
        top: auto;
        bottom: 105px;
        padding: 0 18px;
        width: 100%;
        grid-template-columns: 1fr;
        gap: 17px;

        p {
          font-size: 1.6rem;
          line-height: 1.06;
        }

        h2 {
          font-size: 2.1rem;
          line-height: 1.15;
        }
      }
    }
  }

  // ===== intro =====
  .intro {
    z-index: 1;

    &_container {
      height: max(500vh, 5000px);
    }

    &_fixed {
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
    }

    &_content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 100%;
      padding: 0 var(--padd);
      font-family: var(--tn-fonts);
      font-size: 4.5rem;
      font-weight: 400;
      letter-spacing: -1.15px;
      line-height: 1.23;
      text-align: center;

      span {
        display: inline-block;
        transform: translateY(2px);
      }
    }

    &_thumb {
      position: absolute;
      top: 47.5%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;

      &_img {
        &:nth-of-type(1) {
          width: min(25vw, 360px);

          picture {
            padding-bottom: calc(540 / 360 * 100%);
          }
        }

        &:nth-of-type(2) {
          width: min(18.333vw, 264px);
          position: absolute;
          top: 48%;
          left: calc(0px - min(18.333vw, 264px) / 1.6);
          transform: translateY(-50%);
          z-index: 1;

          picture {
            padding-bottom: calc(350 / 264 * 100%);
          }
        }

        &:nth-of-type(3) {
          width: min(13.75vw, 198px);
          position: absolute;
          bottom: calc(0px - min(13.75vw, 198px) / 6.6);
          right: calc(0px - min(13.75vw, 198px) / 1.43);
          z-index: 1;

          picture {
            padding-bottom: calc(248 / 198 * 100%);
          }
        }
      }
    }

    [data-intro-trigger],
    [data-intro-thumb] {
      opacity: 0;
      visibility: hidden;
    }

    @include maxW {
      &_content {
        padding: 0 var(--paddsp);
        font-size: max(2.8rem, 6.763vw);

        span {
          svg {
            width: max(120.52px, 29.111vw);
            height: auto;
            overflow: visible;
          }
        }
      }

      &_thumb {
        position: initial;
        transform: none;

        &_img {
          &:nth-of-type(1) {
            position: absolute;
            top: calc(min(39.372vw, 163px) / 1.87);
            right: calc(min(39.372vw, 163px) / 2.7);
            z-index: 1;
            width: min(39.372vw, 163px);
          }

          &:nth-of-type(2) {
            width: min(32.609vw, 135px);
            top: auto;
            bottom: calc(min(32.609vw, 135px) + var(--paddsp));
            left: var(--paddsp);
            transform: none;
          }

          &:nth-of-type(3) {
            width: min(26.57vw, 110px);
            bottom: min(26.57vw, 110px);
            left: auto;
            right: var(--paddsp);
            transform: none;
          }
        }
      }
    }
  }

  // ===== intro =====
  .pickup {
    &_container {
      padding-top: 150px;
      margin-top: 40px;
    }

    &_feature {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 73.4031%;

      picture {
        padding-bottom: calc(705 / 1057 * 100%);
      }
    }

    &_content {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 12px;

      &_desc {
        font-family: var(--tn-fonts);
        font-size: 2.6rem;
        font-weight: 400;
        letter-spacing: -0.5px;
        line-height: 1.1;
      }

      &_price {
        font-size: 1.8rem;
      }

      &_btn {
        margin-top: 45px;
      }
    }

    @include maxW {
      &_container {
        padding-top: 60px;
        margin-top: 60px;
      }

      &_feature {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;

        &_r {
          display: flex;
          flex-direction: column;
          gap: 18px;
          width: 100%;
          padding-left: var(--paddsp);

          picture {
            padding-bottom: calc(525 / 394 * 100%);
          }
        }
      }

      &_content {
        margin-top: initial;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        gap: 20px;

        &_desc {
          font-size: 2.1rem;
          line-height: 1.15;
        }

        &_price {
          font-size: 1.6rem;
        }

        &_btn {
          margin-top: 22px;
        }
      }
    }
  }

  // ===== staples =====
  .staples {
    &_container {
      padding-top: 150px;
      margin-top: 70px;
    }

    @include maxW {
      &_container {
        padding-top: 60px;
        margin-top: 60px;
      }
    }
  }

  // ===== subscription =====
  .subscript {
    &_container {
      padding-top: 150px;
      margin-top: 70px;
    }

    &_feature {
      margin-top: 25px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    &_content {
      margin-top: 40px;
      display: grid;
      grid-template-columns: 61.314% 1fr;
      align-items: baseline;
      gap: 20px;

      &_desc {
        font-family: var(--tn-fonts);
        font-size: 2.2rem;
        letter-spacing: -0.5px;
        line-height: 1.32;
      }

      &_info {
        width: 100%;
        display: flex;
        gap: 45px;
        justify-content: flex-end;

        ul {
          display: flex;
          flex-direction: column;

          li {
            font-size: 1.8rem;
            line-height: 1.4;
          }
        }
      }
    }

    &_btn {
      margin-top: 36px;
    }

    @include maxW {
      &_container {
        padding-top: 60px;
        margin-top: 60px;
      }

      &_feature {
        grid-template-columns: 1fr;
        margin-right: calc(0px - var(--paddsp));

        picture {
          padding-bottom: calc(263 / 394 * 100%);
        }
      }

      &_content {
        margin-top: 35px;
        grid-template-columns: 1fr;
        gap: 32px;

        &_desc {
          font-size: 1.8rem;
        }

        &_info {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          justify-content: flex-start;
          gap: 20px;

          ul {
            li {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
