/* -------------------------------------------------------------------------- */
/*                                product page                                */
/* -------------------------------------------------------------------------- */

.productpage {
  // ===== cursor =====
  .cursor {
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 999999999;
    mix-blend-mode: difference;
    transition: opacity 0.2s ease-in-out;
    filter: invert(1);

    &.active {
      opacity: 1;
    }
  }

  // ===== product =====
  .product {
    &_container {
      display: flex;
      width: 100vw;
    }

    &_left {
      width: min(50%, 520px);
    }

    &_right {
      width: calc(100vw - min(50%, 520px));
    }

    @include maxW {
      &_container,
      &_left,
      &_right {
        display: block;
        width: 100%;
      }
    }

    &_info {
      position: sticky;
      top: 50%;
      transform: translateY(-50%);
      padding: 0 var(--padd);

      .shopify_subscriptions_fieldset {
        margin-bottom: 23px;

        & > div {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }

        .shopify_subscriptions_app_block_label {
          padding: 0 !important;
          border: none !important;
          background: transparent !important;
          color: #000;

          ul {
            padding: 0 !important;
          }

          label {
            font-family: var(--main-fonts);
            font-size: 1.6rem;
            line-height: 1.1;
            cursor: pointer;
          }

          input[type="radio"] {
            margin: 0 12px 0 0;
            transform: translateY(2px);
            width: 15px;
            height: 15px;
            border: 1px solid #ccc;
            border-radius: 50%;
            position: relative;
            cursor: pointer;

            &:checked::before {
              content: "";
              position: absolute;
              top: 3px;
              left: 3px;
              width: 7px;
              height: 7px;
              background: var(--black-cl);
              border-radius: 50%;
            }
          }
        }
      }

      #shopify-buyer-consent,
      .shopify_subscriptions_app_policy,
      .shopify_subscriptions_app_block_label
        .shopify_subscriptions_purchase_option_wrapper
        > label {
        display: none !important;
      }

      @include maxW {
        position: initial;
        transform: none;
        padding: 0 var(--paddsp);
        width: 100%;
        margin-bottom: 18px;

        .shopify_subscriptions_fieldset {
          .shopify_subscriptions_app_block_label {
            label {
              font-size: 1.4rem;
            }
          }
        }
      }
    }

    &_header {
      display: grid;
      gap: 15px;

      h2 {
        font-family: var(--tn-fonts);
        font-size: min(2.083vw, 3rem);
        font-weight: 400;
        line-height: 1.12;
      }

      @include maxW {
        padding-top: 30px;
        margin-bottom: 75px;
        grid-template-columns: 1fr 1fr;
        gap: 12px;

        h2 {
          grid-column: 1 / -1;
          grid-row: 2;
          font-size: 2.2rem;
          line-height: 1.2;

          br {
            display: none;
          }
        }
      }
    }

    &_category,
    &_price span.price-item {
      font-size: 1.9rem;
      line-height: 1.1;
      color: var(--black-cl);
      letter-spacing: 0;

      @include maxW {
        font-size: 1.6rem;
      }
    }

    &_price {
      .price {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0;
      }

      .price-item--regular {
        opacity: 0.5;
        text-decoration: line-through;
        color: inherit;
        font-size: inherit;
      }

      .price__container {
        display: flex;
        gap: 15px;
        margin: 0;
      }

      .badge {
        max-width: 350px;
        margin-bottom: 0 !important;
        background: var(--black-cl);
      }

      @include maxW {
        .price__container {
          justify-content: flex-end;
          gap: 12px;
        }
      }
    }

    &_meta {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      gap: 12px;

      .product-form__input {
        margin-bottom: 12px;

        &:last-of-type {
          margin-bottom: initial;
        }
      }

      &_variant,
      &_quantity,
      &_add {
        height: 41px;
        max-width: 350px;
        min-width: auto;
        min-height: auto;
        border: 1px solid var(--black-cl);
        border-radius: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 1.6rem;
        line-height: 1;
        letter-spacing: 0;

        &:before,
        &::after {
          content: unset;
        }

        &.loading {
          color: transparent !important;
        }

        &.--black {
          background: var(--black-cl);
          color: var(--white-cl);
        }
      }

      &_variant {
        select {
          text-align: center;
          text-align-last: center;
          width: 100%;
          height: 100%;
          background-color: transparent;
          background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='13.414' height='7.414' viewBox='0 0 13.414 7.414'><line x2='6' y2='6' transform='translate(0.707 0.707)' fill='none' stroke='%23000' stroke-linecap='square' stroke-width='1'/><line x1='6' y2='6' transform='translate(6.707 0.707)' fill='none' stroke='%23000' stroke-linecap='square' stroke-width='1'/></svg>");
          background-repeat: no-repeat;
          background-position: right 27px center;
          background-size: 13px 7px;
        }
      }

      &_quantity {
        padding: 0 28px;
        justify-content: space-between;

        button {
          position: relative;
          width: auto;
          margin: 0;

          &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: transparent;
            width: 35px;
            height: 35px;
            z-index: 1;
          }
        }

        input[type="number"] {
          flex-grow: 1;
          width: 100%;
          text-align: center;
          pointer-events: none;
          font-family: inherit;
          font-size: inherit;
          font-weight: inherit;
          color: var(--black-cl);
          opacity: 1;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      @include maxW {
        margin-top: initial;

        &_variant,
        &_quantity,
        &_add {
          max-width: 100%;
          height: 35px;
          font-size: 1.4rem;

          &.--black {
            background: var(--black-cl);
            color: var(--white-cl);
          }
        }
      }
    }

    &_main {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100vh;
      display: flex;
      align-items: center;
    }

    &_swiper {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;

      &_tags {
        position: absolute;
        top: calc(50px + 15px);
        left: 18px;
        z-index: 1;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 28px;
          padding: 5px 15px;
          border-radius: 80px;
          background: var(--white-cl);
          font-size: 1.6rem;
        }
      }

      &_nav,
      &_pagination {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transform: none;
        z-index: 1;
        pointer-events: none;
      }

      &_nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .swiper-button-next,
        .swiper-button-prev {
          position: initial;
          margin: 0;
          font-size: 0;
          width: 100%;
          height: 100%;
          pointer-events: auto;
          cursor: none;

          &:after {
            content: "";
          }
        }
      }

      &_pagination {
        .swiper-pagination {
          position: absolute;
          top: auto;
          right: 25px;
          bottom: 23px;
          z-index: 1;
          left: auto;
          display: flex;
          gap: 12px;
          width: auto;
          pointer-events: auto;

          .swiper-pagination-bullet {
            width: auto;
            height: auto;
            background: none;
            margin: 0;
            opacity: 0.3;
            font-size: 1.6rem;
            transition: opacity 0.3s linear;

            &.swiper-pagination-bullet-active {
              opacity: 1;
            }
          }
        }
      }

      .swiper-slide {
        width: auto;
        height: auto;
        opacity: 0.2;
        transition: opacity 0.2s ease-out;

        &.swiper-slide-active {
          opacity: 1;
        }

        picture {
          height: 100%;
          padding-bottom: 100vh;

          img {
            object-fit: contain;
            object-position: center;
            mix-blend-mode: multiply;
          }
        }
      }

      @include maxW {
        padding: 0;

        &_tags {
          top: auto;
          right: 12px;
          bottom: 15px;
          left: auto;

          span {
            font-size: 1.4rem;
          }
        }

        &_nav,
        &_pagination {
          position: initial;
        }

        &_nav {
          display: none;
        }

        &_pagination {
          .swiper-pagination {
            right: auto;
            left: 20px;
            bottom: 20px;
          }
        }

        .swiper-slide {
          width: 100%;
          height: 100%;
          opacity: 1;
          aspect-ratio: auto;

          picture {
            padding-bottom: 100%;
          }
        }
      }
    }

    &_sub {
      width: 81.835%;
      margin-left: auto;
      padding-right: var(--padd);

      @include maxW {
        width: 100%;
        padding: 0;
      }
    }

    &_detail {
      margin-top: 200px;

      h3 {
        font-size: 1.9rem;
        font-weight: 400;
        line-height: 1.1;
      }

      &_custom {
        margin-top: 70px;
      }

      &_items {
        margin-top: 80px;
        display: grid;
        grid-template-columns: 1fr 83.133%;
        align-items: baseline;
        gap: 30px;

        &:first-child {
          margin-top: initial;
        }
      }

      &_content {
        p {
          margin-top: 45px;
          font-family: var(--tn-fonts);
          font-size: 2.1rem;
          letter-spacing: -0.5px;
          line-height: 1.36;

          &:first-child {
            margin-top: initial;
          }
        }
      }

      &_articles {
        display: flex;
        flex-direction: column;
        gap: 5px;

        li {
          a {
            font-family: var(--tn-fonts);
            font-size: 2.1rem;
            letter-spacing: -0.5px;
            line-height: 1.15;
            text-decoration: underline;
            text-underline-offset: 3px;
          }
        }
      }

      @include maxW {
        margin-top: 100px;
        padding: 0 var(--paddsp);

        h3 {
          font-size: 1.6rem;
        }

        &_custom {
          margin-top: 50px;
        }

        &_items {
          margin-top: 60px;
          grid-template-columns: 1fr;
        }

        &_content {
          p {
            margin-top: 30px;
            font-size: 1.8rem;
          }
        }

        &_articles {
          li {
            a {
              font-size: 1.8rem;
            }
          }
        }
      }
    }

    &_accordion {
      margin-top: 10px;

      &:first-child {
        margin-top: initial;
      }

      &_btn {
        width: 100%;
        position: relative;
        cursor: pointer;
        display: grid;
        grid-template-columns: 1fr 35px;
        gap: 20px;
        align-items: center;
        font-size: 1.9rem;
        line-height: 1.1;

        &.--active {
          .product_accordion_plus {
            transform: rotate(45deg);
          }
        }
      }

      &_plus {
        display: inline-block;
        width: 14px;
        height: 14px;
        position: relative;
        margin-left: auto;
        transition: transform 0.2s linear;

        &:after,
        &:before {
          content: "";
          position: absolute;
          background: var(--black-cl);
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &:after {
          width: 1px;
          height: 100%;
        }

        &:before {
          width: 100%;
          height: 1px;
        }
      }

      &_panel {
        max-height: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
      }

      &_desc {
        margin-top: 25px;
        margin-bottom: 20px;
        font-size: 1.6rem;
        line-height: 1.38;
      }

      @include maxW {
        margin-top: 8px;

        &_btn {
          font-size: 1.6rem;
        }

        &_plus {
          width: 12px;
          height: 12px;
        }

        &_desc {
          margin-top: 20px;
          margin-bottom: 20px;
          font-size: 1.4rem;
        }
      }
    }
  }

  // ===== related =====
  .related {
    &_container {
      margin-top: 150px;
    }
  }
}
